*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

.topmost{
    background-color: #e42529;
}

.topmost{
    position: fixed;
    top: 0;
    width: 100%;
}

#header_ul{
    list-style: none;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.header_li{
    margin: 5px 15px;
}

.header_anchor{
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#header_section{
    display: flex;
    height: 90px;
    justify-content: space-between;
}

#header_main{
    width: 25%;
}

#header_main img{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

#search_panel{
    width: 40%;
    height: fit-content;
    margin-top: 25px;
}

#search_form_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
    padding: 7px;
}

#search_form_container>input{
    border-radius: 20px;
    width: 70%;
    font-size: 16px;
    border: none;
}

#search_form_container>input:focus{
    outline: none;
}

#search_form_container>button{
    border: none;
    background-color: white;
}

#search_form_btn>i{
    color: gray;
}

#header_section_ul{
    width: 30%;
    height: fit-content;
    margin-top: 10px;
}

#header_section_ul>ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#header_section_ul li{
    margin-right: 35px;
    font-size: 18px;
}

#cart i, .cart_span, #user_name{
    color: white;
}

.cart_span, #user_name{
    font-weight: 600;
}

#account_dropdown a>i{
    color: white;
}

#account_dropdown{
    position: relative;
    display: inline-block;
}

#acc_dropdown{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 180px;
    margin: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#account_dropdown:hover #acc_dropdown{
    display: block;
}

#acc_dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


#acc_logout{
    padding: 12px 16px;
    color: black;
}

nav{
    background-color: #003380;
}

#navbar_ul{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
}

#navbar_ul>li{
    list-style: none;
}

nav .nav_title{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.nav_container{
    position: relative;
    display: inline-block;
}

.nav_categories{
    display: none;
    position: absolute;
    min-width: 70vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav_categories .nav_cat{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav_container:hover .nav_categories{
    display: flex;
}

.nav_categories{
    background-color: #062656;
}

.nav_categories_items>.nav_items, .nav_items_head{
    list-style: none;
}

.nav_item, .nav_sub_item, .nav_items_head{
    color: white;
    text-decoration: none;
}

.nav_items, .nav_items_head{
    margin-top: 15px;
}

.nav_items_head{
    font-weight: 700;
}



#cart-container{
    margin-top: 230px;
    min-height: 40vh;
    padding: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#products{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
}

.product-container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    width: 92%;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.product-info-div{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#product-div-1{
    display: flex;
    width: 25%;
    flex-direction: column;
}

#product-div-1>img{
    width: 100%;
}

.qty-div>button{
    padding: 5px 12px;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 10px;
}

.qty-div>span{
    font-size: 18px;
    font-weight: 500;
}

.qty-div{
    margin: auto;
    padding: 20px;
}

#product-div-2{
    width: 50%;
}

.button-div{
    padding: 15px;
    margin: auto;
}

.delete-btn{
    font-size: 18px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #e42529;
    color: white;
    font-weight: 600;
}

#product-div-3{
    width: 10%;
}


.chekout-btn{
    padding: 10px;
    border: none;
    background-color: #e42529;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.delivery-info{
    font-weight: 700;
    color: green;
}

.amount, .amount-info{
    color: #003380;
}

.amount-el{
    border-top: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
}


.cart-checkout-container{
    display: flex;
    width: 30%;
    height: fit-content;
    padding: 30px;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.price-detail-container{
    display: flex;
    flex-direction: column;
}

.price-el, .delivery-el, .amount-el{
    display: flex;
    justify-content: space-between;
}


#footer{
    background-color: #003380;
}

.footer_links{
    color: white;
    display: flex;
    justify-content: space-around;
}

.links>li{
    list-style: none;
    padding: 3px 0px;
}

.link_head{
    font-weight: 700;
    padding: 10px 0px;
}

.footer_social{
    display: flex;
    flex-direction: column;
    color: white;
    width: 80%;
    margin: auto;
}

.footer_social>p{
    font-size: 18px;
    font-weight: 700;
}

.footer_icons>i{
    padding: 15px;
    font-size: 24px;
}