*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

.topmost{
    background-color: #e42529;
}

.topmost{
    position: fixed;
    top: 0;
    width: 100%;
}

#header_ul{
    list-style: none;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.header_li{
    margin: 5px 15px;
}

.header_anchor{
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#header_section{
    display: flex;
    height: 90px;
    justify-content: space-between;
}

#header_main{
    width: 25%;
}

#header_main img{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

#search_panel{
    width: 40%;
    height: fit-content;
    margin-top: 25px;
}

#search_form_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
    padding: 7px;
}

#search_form_container>input{
    border-radius: 20px;
    width: 70%;
    font-size: 16px;
    border: none;
}

#search_form_container>input:focus{
    outline: none;
}

#search_form_container>button{
    border: none;
    background-color: white;
}

#search_form_btn>i{
    color: gray;
}

#header_section_ul{
    width: 30%;
    height: fit-content;
    margin-top: 10px;
}

#header_section_ul>ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#header_section_ul li{
    margin-right: 35px;
    font-size: 18px;
}

#cart i, .cart_span{
    color: white;
}

.cart_span{
    font-weight: 600;
}

nav{
    background-color: #003380;
}

#navbar_ul{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
}

#navbar_ul>li{
    list-style: none;
}

nav .nav_title{
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.nav_container{
    position: relative;
    display: inline-block;
}

.nav_categories{
    display: none;
    position: absolute;
    min-width: 70vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav_categories .nav_cat{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav_container:hover .nav_categories{
    display: flex;
}

.nav_categories{
    background-color: #062656;
}

.nav_categories_items>.nav_items, .nav_items_head{
    list-style: none;
}

.nav_item, .nav_sub_item, .nav_items_head{
    color: white;
    text-decoration: none;
}

.nav_items, .nav_items_head{
    margin-top: 15px;
}

.nav_items_head{
    font-weight: 700;
}

#login{
    margin-top: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0px;
}

#image-banner{
    width: 60%;
}

#image-banner>img{
    width: 100%;
    height: 500px;
}

#login-card{
    margin: 35px;
    width: 30%;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#login-card>form{
    display: flex;
    flex-direction: column;
}

#login-card>form>input{
    padding: 10px;
    font-size: 16px;
    margin: 10px 0px;
}

#login-card>form>input:last-child{
    background-color: rgb(218, 3, 3);
    border: none;
    color: white;
    font-weight: 700;
}

#login-card>p{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 10px;
    background-color: rgb(237, 237, 237);
}

#footer{
    background-color: #003380;
}

.footer_links{
    color: white;
    display: flex;
    justify-content: space-around;
}

.links>li{
    list-style: none;
    padding: 3px 0px;
}

.link_head{
    font-weight: 700;
    padding: 10px 0px;
}

.footer_social{
    display: flex;
    flex-direction: column;
    color: white;
    width: 80%;
    margin: auto;
}

.footer_social>p{
    font-size: 18px;
    font-weight: 700;
}

.footer_icons>i{
    padding: 15px;
    font-size: 24px;
}